Repository HomeoStasis-0/aafun-discord-bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heroku/languages, @colincasey, @joshwlewis

.github/CODEOWNERS:

# Note: Delete this file if you are copying the code in this repository into your own project.

# Default to requesting pull request reviews from the Heroku Languages team.
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
#ECCN:Open Source
#GUSINFO:Languages,Heroku Node.js Platform
=======
>>>>>>> 0f117d7 (Add CODEOWNERS (#312))
=======
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
=======
#ECCN:Open Source
#GUSINFO:Languages,Heroku Node.js Platform
>>>>>>> ee47915 (Initial commit (history reset))
<<<<<<< HEAD
=======
>>>>>>> 9ce1f3f (fixing code structure)
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
* @heroku/languages

# However, request review from the Heroku language owners for files that are updated
# by Dependabot, to reduce team review request noise.
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
package.json @colincasey
package-lock.json @colincasey
=======
package.json @joshwlewis @colincasey
package-lock.json @joshwlewis @colincasey
>>>>>>> 0f117d7 (Add CODEOWNERS (#312))
=======
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
package.json @joshwlewis @colincasey
package-lock.json @joshwlewis @colincasey
=======
package.json @colincasey
package-lock.json @colincasey
>>>>>>> ee47915 (Initial commit (history reset))
<<<<<<< HEAD
=======
>>>>>>> 9ce1f3f (fixing code structure)
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))

gym
  bot/commands/summarize.js
  bot/events.js
Owners: @heroku/languages

gym
  deploy.js
Owners: @heroku/languages

sql
  bot/commands/gym.js
  bot/utils/gym.js
  deploy.js
  package-lock.json
  package.json
Owners: @heroku/languages, @colincasey

Add sqlite/sqlite3 dependencies and sqlite-backed gym DB
  package-lock.json
  package.json
Owners: @colincasey

Use Postgres for gym data; migrate from gym_db.json
  bot/utils/gym.js
  package.json
Owners: @heroku/languages, @colincasey

Use Postgres for gym data; migrate from gym_db.json
  gym_db.sqlite
  package-lock.json
Owners: @heroku/languages, @colincasey

Use Postgres for gym data; migrate from gym_db.json
  scripts/inspect_pg.js
Owners: @heroku/languages

Use Postgres for gym data; migrate from gym_db.json
  scripts/finalize_pending.js
Owners: @heroku/languages

Use Postgres for gym data; migrate from gym_db.json
  bot/utils/gym.js
Owners: @heroku/languages

\Fix pending lookup and add PG inspectors\\n
  bot/events.js
Owners: @heroku/languages

Normalize pending fields and await pending lookup; add PG inspectors
  bot/utils/gym.js
Owners: @heroku/languages

Ensure CT timezone for gym date calculations; normalize pending handling
  bot/utils/gym.js
Owners: @heroku/languages

fix
  gym_db.sqlite
Owners: @heroku/languages

fix
  bot/utils/gym.js
Owners: @heroku/languages

fix
  bot/events.js
  bot/utils/gym.js
  gym_db.sqlite
Owners: @heroku/languages

fix
  bot/events.js
Owners: @heroku/languages

fix
  bot/events.js
  gym_db.sqlite
Owners: @heroku/languages

gym
  Procfile
  README.md
  app.json
  bot/client.js
  bot/commands/chat.js
  bot/commands/clear.js
  bot/commands/gifs.js
  bot/commands/gym.js
  bot/commands/restart.js
  bot/commands/spotify.js
  bot/commands/summarize.js
  bot/events.js
  bot/utils/ai.js
  bot/utils/birthdays.js
  bot/utils/giphy.js
  bot/utils/groqClient.js
  bot/utils/gym.js
  bot/utils/messages.js
  bot/utils/spotify.js
  config.js
  deploy.js
  gym_db.json
  gym_db.sqlite
  index.js
  package-lock.json
  package.json
  scripts/finalize_pending.js
  scripts/inspect_pg.js
  scripts/test_gym_write.js
  secret.txt
  server.js
  test.js
  tokens.db
  views/pages/db.ejs
  views/pages/index.ejs
  views/partials/header.ejs
  views/partials/nav.ejs
Owners: @heroku/languages, @colincasey

changed model
  bot/commands/chat.js
  bot/commands/summarize.js
Owners: @heroku/languages

golden
  bot/utils/messages.js
Owners: @heroku/languages

meow
  bot/utils/messages.js
Owners: @heroku/languages

birth
  bot/utils/birthdays.js
Owners: @heroku/languages

birth
  bot/utils/birthdays.js
Owners: @heroku/languages

birth
  .gitignore
  birthdays.txt
Owners: @heroku/languages

birth
  bot/utils/birthdays.js
Owners: @heroku/languages

birth
  bot/utils/birthdays.js
Owners: @heroku/languages

birth
  bot/utils/birthdays.js
Owners: @heroku/languages

fix
  bot/commands/chat.js
  bot/commands/summarize.js
Owners: @heroku/languages

fix
  bot/commands/summarize.js
Owners: @heroku/languages

Initial clean commit
  .gitignore
  Procfile
  README.md
  app.json
  birthdays.txt
  bot/client.js
  bot/commands/chat.js
  bot/commands/clear.js
  bot/commands/gifs.js
  bot/commands/gym.js
  bot/commands/restart.js
  bot/commands/spotify.js
  bot/commands/summarize.js
  bot/events.js
  bot/utils/ai.js
  bot/utils/birthdays.js
  bot/utils/giphy.js
  bot/utils/groqClient.js
  bot/utils/gym.js
  bot/utils/messages.js
  bot/utils/spotify.js
  config.js
  deploy.js
  gym_db.json
  gym_db.sqlite
  index.js
  package-lock.json
  package.json
  scripts/finalize_pending.js
  scripts/inspect_pg.js
  scripts/test_gym_write.js
  server.js
  test.js
  utils/importBirthdays.js
Owners: @heroku/languages, @colincasey

Remove birthdays.txt from tracking
  birthdays.txt
Owners: @heroku/languages

gym
  bot/events.js
Owners: @heroku/languages

gym
  bot/commands/gym.js
  bot/events.js
  bot/utils/gym.js
Owners: @heroku/languages

fixed the gym and the birthday stuff
  .scripts/start_postgres_check.ps1
  bot/commands/gym.js
  bot/events.js
  bot/utils/birthdays.js
  bot/utils/gym.js
  gym_db.sqlite
  index.js
  start
  test_db_birthdays.js
Owners: @heroku/languages

Add /gym live subcommand registration
  deploy.js
Owners: @heroku/languages

gym live fixed
  bot/events.js
Owners: @heroku/languages

working live gym code
  bot/commands/gym.js
  bot/events.js
Owners: @heroku/languages

fixed gym set own
  bot/commands/gym.js
  gym_db.sqlite
Owners: @heroku/languages

register error
  bot/commands/gym.js
  bot/events.js
  gym_db.sqlite
Owners: @heroku/languages

fixed birthday
  bot/utils/birthdays.js
  scripts/validate_birthdays.js
Owners: @heroku/languages
