Repository HomeoStasis-0/aafun-discord-bot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heroku/languages, @colincasey, @joshwlewis

.github/CODEOWNERS:

# Note: Delete this file if you are copying the code in this repository into your own project.

# Default to requesting pull request reviews from the Heroku Languages team.
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
#ECCN:Open Source
#GUSINFO:Languages,Heroku Node.js Platform
=======
>>>>>>> 0f117d7 (Add CODEOWNERS (#312))
=======
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
=======
#ECCN:Open Source
#GUSINFO:Languages,Heroku Node.js Platform
>>>>>>> ee47915 (Initial commit (history reset))
<<<<<<< HEAD
=======
>>>>>>> 9ce1f3f (fixing code structure)
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
* @heroku/languages

# However, request review from the Heroku language owners for files that are updated
# by Dependabot, to reduce team review request noise.
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
package.json @colincasey
package-lock.json @colincasey
=======
package.json @joshwlewis @colincasey
package-lock.json @joshwlewis @colincasey
>>>>>>> 0f117d7 (Add CODEOWNERS (#312))
=======
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))
package.json @joshwlewis @colincasey
package-lock.json @joshwlewis @colincasey
=======
package.json @colincasey
package-lock.json @colincasey
>>>>>>> ee47915 (Initial commit (history reset))
<<<<<<< HEAD
=======
>>>>>>> 9ce1f3f (fixing code structure)
>>>>>>> 6996edf (Initial commit: AAFUN Discord Bot (no secrets, fresh history))

Use pg pool with reconnect retry for gym queries
  bot/utils/gym.js
Owners: @heroku/languages

added changes to main scene
  gym_db.sqlite
Owners: @heroku/languages

fixed readme
  README.md
Owners: @heroku/languages

made it so that people could add their own bday
  bot/commands/birthday.js
  bot/events.js
  bot/utils/birthdays.js
  deploy.js
Owners: @heroku/languages

added a new cat gif
  bot/commands/gifs.js
  bot/utils/messages.js
Owners: @heroku/languages

added it so that i can use the chat anywhere
  deploy.js
Owners: @heroku/languages

added it for the rest
  deploy.js
Owners: @heroku/languages

fixed the gym command not sending in the morning
  bot/utils/gym.js
  deploy.js
Owners: @heroku/languages

fixed the commands that do not need to be everywhere
  deploy.js
Owners: @heroku/languages

allowed summarize to have all messages in a given timeframe
  bot/commands/summarize.js
Owners: @heroku/languages

backup before sqlite3 upgrade
  package-lock.json
  package.json
Owners: @colincasey

chore: remove local sqlite and disable sqlite fallback
  bot/commands/summarize.js
  bot/utils/ai.js
  bot/utils/gym.js
  gym_db.sqlite
  package-lock.json
  package.json
Owners: @heroku/languages, @colincasey

Add real-time web search to /chat via Tavily tool calling
  bot/commands/chat.js
  bot/utils/search.js
  config.js
Owners: @heroku/languages

Retry on model refusal in /chat
  bot/commands/chat.js
Owners: @heroku/languages
